@model MovieRequest
@{
    ViewBag.Title = "Get Movie - Admin Dashboard";
    Layout = "_AdminLayout";
    PagedList<MovieVenue> movieVenues = ViewBag.MovieVenues;
}

<div class="w-full p-6 bg-white/50 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
        Get Movie - @Model.Name
    </h5>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessages))
    {
        <div class='bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4' role='alert'>
            <strong class='font-bold'>Error!</strong>
            <br />
            <span class='block sm:inline'>Please fix the following errors: @ViewBag.ErrorMessages</span>
        </div>
    }

    <form asp-controller="AdminMovie" asp-action="Detail" asp-route-id="@Model.Id" method="post" class="space-y-4" enctype="multipart/form-data">
        <div>
            <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="Name" class="text-red-500 font-semibold"></span>
        </div>

        <div>
            <label asp-for="Description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <input asp-for="Description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="Description" class="text-red-500 font-semibold"></span>
        </div>

        <div>
            <label asp-for="Image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <div class="flex items-center justify-center w-full">
                <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input asp-for="Image" id="dropzone-file" type="file" class="hidden" />
                </label>
            </div>
        </div>

        <div>
            <label asp-for="MovieVenueId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select asp-for="MovieVenueId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @foreach (var movieVenue in movieVenues)
                {
                    <option value="@movieVenue.Id">@movieVenue.Location</option>
                }
            </select>
        </div>

        <div class="mt-10 flex justify-between">
            <span></span>
            <div class="space-x-2">
                <a asp-controller="AdminMovie" asp-action="Delete" asp-route-id="@Model.Id" type="button" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white/50 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Delete
                </a>
                <button type="submit" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white/50 rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Update
                </button>
            </div>
        </div>
    </form>
</div>