<div class="w-full mt-5 lg:w-1/6">
    <div class="lg:block w-full lg:w-48 text-sm font-medium text-gray-900 bg-white/50 border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <a asp-controller="Admin" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer rounded-t-lg hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Dashboard
        </a>
        <a asp-controller="AdminTicket" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminTicket" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Paid Ticket
        </a>
        <a asp-controller="AdminMovie" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminMovie" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Movies
        </a>
        <a asp-controller="AdminMovieShowtime" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminMovieShowtime" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Movie Showtimes
        </a>
        <a asp-controller="AdminMovieVenue" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminMovieVenue" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Movie Venues
        </a>
        <a asp-controller="AdminUser" asp-action="Index"
           class="block w-full px-4 py-2 cursor-pointer rounded-b-lg hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white
           @(ViewContext.RouteData.Values["controller"]?.ToString() == "AdminUser" && ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "bg-blue-700 text-white" : "")">
            Users
        </a>
    </div>
</div>
